Lab4/WinFormClient/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fromCtoF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="C" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fromCtoFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fromCtoFResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fromFtoC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="F" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fromFtoCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fromFtoCResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCurrentDateAndTime">
        <s:complexType />
      </s:element>
      <s:element name="getCurrentDateAndTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getCurrentDateAndTimeResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getListOfElements">
        <s:complexType />
      </s:element>
      <s:element name="getListOfElementsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getListOfElementsResult" type="tns:ArrayOfElement" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfElement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Element" nillable="true" type="tns:Element" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Element">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="leiToEuro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lei" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="leiToEuroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="leiToEuroResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="euroToLei">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="euro" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="euroToLeiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="euroToLeiResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="fromCtoFSoapIn">
    <wsdl:part name="parameters" element="tns:fromCtoF" />
  </wsdl:message>
  <wsdl:message name="fromCtoFSoapOut">
    <wsdl:part name="parameters" element="tns:fromCtoFResponse" />
  </wsdl:message>
  <wsdl:message name="fromFtoCSoapIn">
    <wsdl:part name="parameters" element="tns:fromFtoC" />
  </wsdl:message>
  <wsdl:message name="fromFtoCSoapOut">
    <wsdl:part name="parameters" element="tns:fromFtoCResponse" />
  </wsdl:message>
  <wsdl:message name="getCurrentDateAndTimeSoapIn">
    <wsdl:part name="parameters" element="tns:getCurrentDateAndTime" />
  </wsdl:message>
  <wsdl:message name="getCurrentDateAndTimeSoapOut">
    <wsdl:part name="parameters" element="tns:getCurrentDateAndTimeResponse" />
  </wsdl:message>
  <wsdl:message name="getListOfElementsSoapIn">
    <wsdl:part name="parameters" element="tns:getListOfElements" />
  </wsdl:message>
  <wsdl:message name="getListOfElementsSoapOut">
    <wsdl:part name="parameters" element="tns:getListOfElementsResponse" />
  </wsdl:message>
  <wsdl:message name="leiToEuroSoapIn">
    <wsdl:part name="parameters" element="tns:leiToEuro" />
  </wsdl:message>
  <wsdl:message name="leiToEuroSoapOut">
    <wsdl:part name="parameters" element="tns:leiToEuroResponse" />
  </wsdl:message>
  <wsdl:message name="euroToLeiSoapIn">
    <wsdl:part name="parameters" element="tns:euroToLei" />
  </wsdl:message>
  <wsdl:message name="euroToLeiSoapOut">
    <wsdl:part name="parameters" element="tns:euroToLeiResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method displays a message</wsdl:documentation>
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method calculates and displays the sum of 2 numbers</wsdl:documentation>
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fromCtoF">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method calculates from F to C</wsdl:documentation>
      <wsdl:input message="tns:fromCtoFSoapIn" />
      <wsdl:output message="tns:fromCtoFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fromFtoC">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method calculates from C to F</wsdl:documentation>
      <wsdl:input message="tns:fromFtoCSoapIn" />
      <wsdl:output message="tns:fromFtoCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCurrentDateAndTime">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method displays the current date and time</wsdl:documentation>
      <wsdl:input message="tns:getCurrentDateAndTimeSoapIn" />
      <wsdl:output message="tns:getCurrentDateAndTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getListOfElements">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method displays a list with 5 elements</wsdl:documentation>
      <wsdl:input message="tns:getListOfElementsSoapIn" />
      <wsdl:output message="tns:getListOfElementsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="leiToEuro">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method converts from lei to Euro</wsdl:documentation>
      <wsdl:input message="tns:leiToEuroSoapIn" />
      <wsdl:output message="tns:leiToEuroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="euroToLei">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method converts from euro to lei</wsdl:documentation>
      <wsdl:input message="tns:euroToLeiSoapIn" />
      <wsdl:output message="tns:euroToLeiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fromCtoF">
      <soap:operation soapAction="http://tempuri.org/fromCtoF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fromFtoC">
      <soap:operation soapAction="http://tempuri.org/fromFtoC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentDateAndTime">
      <soap:operation soapAction="http://tempuri.org/getCurrentDateAndTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListOfElements">
      <soap:operation soapAction="http://tempuri.org/getListOfElements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="leiToEuro">
      <soap:operation soapAction="http://tempuri.org/leiToEuro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="euroToLei">
      <soap:operation soapAction="http://tempuri.org/euroToLei" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fromCtoF">
      <soap12:operation soapAction="http://tempuri.org/fromCtoF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fromFtoC">
      <soap12:operation soapAction="http://tempuri.org/fromFtoC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentDateAndTime">
      <soap12:operation soapAction="http://tempuri.org/getCurrentDateAndTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListOfElements">
      <soap12:operation soapAction="http://tempuri.org/getListOfElements" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="leiToEuro">
      <soap12:operation soapAction="http://tempuri.org/leiToEuro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="euroToLei">
      <soap12:operation soapAction="http://tempuri.org/euroToLei" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44382/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44382/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>